* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    --control-center-bg: rgba(153, 153, 153, 0.7);
    --symbol-bg-white: rgba(255, 255, 255, 1);
    --symbol-bg-black: rgba(0, 0, 0, 1);
    --symbol-bg-dark: rgba(38, 38, 38, 1);
    --dock-bg-color: rgba(102, 102, 102, 0.7);
    --spotlight-color: rgba(38, 38, 38, 0.7);
    --mode-toggle-color: rgba(255, 255, 255, 0.7);
    --outer-circle-color: rgba(0, 0, 0, 1);
    --spotlight-fg-color: rgba(153, 153, 153, 1);
    --battery-bg: rgba(153, 153, 153, 0.8);
    --battery-fg: rgba(153, 153, 153, 0.7);
    overflow: hidden;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.light {
    --control-center-bg: rgba(153, 153, 153, 0.7);
    --symbol-bg-white: rgba(255, 255, 255, 1);
    --symbol-bg-black: rgba(38, 38, 38, 0.9);
    --symbol-bg-dark: rgba(38, 38, 38, 1);
    --mode-toggle-color: rgba(38, 38, 38, 0.7);
    --dock-bg-color: rgba(153, 153, 153, 0.7);
    --spotlight-color: rgba(152, 153, 153, 0.7);
    --outer-circle-color: rgba(255, 255, 255, 1);
    --spotlight-fg-color: rgba(250, 250, 250, 1);
    --battery-bg: rgba(102, 102, 102, 0.8);
}

.container {
    display: grid;
    overflow: hidden;
    padding-top: 140px;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-row-gap: 60px; 
    padding-left: 4%;
    height: 1600px;
}

.cal-icon {
    background: white;
    border-radius: 25px;
    width: 130px;
    height: 130px;
    display: grid;
    grid-template-rows: 30% 70%;
    align-self: center;
    justify-self: center;
}

.image-icon {
    width: 130px;
    height: 130px; 
}

.day-text {
    align-self: center;
    justify-self: center;
    font-size: 25px; 
    padding-top: 10px; 
    color: #dc524a;
    font-weight: bold;
}

.day-num {
    justify-self: center;
    font-size: 80px; 
    color: black;
}

.main-link {
    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-items: center;
}

.icon-dock {
    align-self: center;
    justify-self: center;
}


.app-name {
    font-size: 30px;
    color: white;
    justify-self: center;
    padding-top: 15px;
}

.app-dock {
    background: var(--dock-bg-color);
    backdrop-filter: blur(20px);
    height: 200px;
    width: 95%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 60px;
}

.spotlight-search {
    display: flex;
    background: var(--spotlight-color); 
    backdrop-filter: blur(20px);
    height: 70px;
    width: 19%;
    border-radius: 60px;
    font-size: 30px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 15%;
    transform: translate(-50%);
    align-items: center;
    justify-content: center;
    color: var(--spotlight-fg-color);
}

.search-text {
    padding-left: 10px;
}

.control-center {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--control-center-bg);
    backdrop-filter: blur(40px);
    z-index: 10;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    visibility: hidden;
}

.mode-toggle {
    background: var(--mode-toggle-color);
    height: 140px;
    width: 16%;
    margin-left: 60px;
    border-radius: 40px;
    position: absolute;
}

 .outer {
    background: var(--outer-circle-color); 
    z-index: 11;
    border-radius: 50%;
    height: 70px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inner-left {
    background: var(--symbol-bg-white);
    z-index: 12;
    position: absolute;
    border-radius: 150px 0px 0px 150px;
    height: 25px; 
    width: 13px;
    top: 33%;
    left: 31%;
}

.outer-left {
    background: var(--symbol-bg-black);
    height: 85%;
    width: 41%;
    position: absolute;
    border-radius: 150px 0px 0px 150px;
    top: 7%;
    left: 9%;
}

.outer-right {
    background: var(--symbol-bg-white);
    z-index: 11;
    height: 85%;
    width: 41%;
    position: absolute;
    border-radius: 0px 150px 150px 0px;
    top: 7%;
    right: 9%;
}

.inner-right {
    background: var(--symbol-bg-black);
    height: 27px;
    width: 16px;
    z-index: 12;
    position: absolute;
    top: 31%;
    right: 30%;
    border-radius: 0px 150px 150px 0px;
}

.status-icons {
    width:  200px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 0px;
}

.wifi-img {
    width: 60px;
    height: 60px;
    right: 90px;
    position: absolute;
}

.cellular-img {
    width: 25px;
    height: 20px;
    position: absolute;
    right: 150px;
    top: 20px;
}

.battery-icon {
    height: 35px;
    width: 70px;
    background: var(--battery-bg); 
    position: absolute;
    top: 15px;
    right: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.fill {
    background: white;
    width: 63px;
    height: inherit;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.percentage {
    font-size: 30px;
    padding-left: 15px;
    color: var(--battery-fg);
    font-weight: bold;
    padding-top: 3px;
}

.clock-statusbar {
    color: var(--symbol-bg-white);
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 20px;
    width: 100px;
    height: 60px;
}

