* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Helvetica;
}

body {
    --bg-dark: rgba(0, 0, 0, 1);
    --btn-color: rgba(220, 82, 74, 1);
    --header-bar-color: rgba(21, 21, 21, 1);
    --text-color-dark: rgba(255, 255,255, 1);
    --search-color-dark: rgba(153, 153, 153, 1);
    --search-color-dark-transparent: rgba(77, 77, 77, 0.7);
}

body.light {
    --bg-dark: rgba(255, 255, 255, 1);
    --btn-color: rgba(220, 82, 74, 1);
    --header-bar-color: rgba(240, 240, 240, 1);
    --text-color-dark: rgba(0, 0, 0, 1);
    --search-color-dark: rgba(255, 255, 255, 1);
    --search-color-dark-transparent: rgba(255, 255, 255, 0.7);
}

a {
    color: var(--btn-color);
}

.container {
    background: var(--bg-dark);
}

.header-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--header-bar-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}


.link-container {
    display: flex;
    padding-left: 10px;
    background: var(--header-bar-color);
}

.button-container {
    display: flex;
    align-items: right;
    justify-content: right;
    background: var(--header-bar-color);
}

.button {
    border: none;
    background: none;
    color: var(--btn-color);
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 30px;
}

.add-button {
    padding-left: 50px;
    padding-right: 20px;
}

.year-text-link {
    text-decoration: full;
    padding-bottom: 40px;
}

.months-container {
    position: relative;
}

.month-container {
    padding-bottom: 300px;
    animation: zoom-in 1s ease;
}

@keyframes zoom-in {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.feb-container {
    padding-bottom: 180px;
}

.month {
    color: var(--text-color-dark);
    font-size: 3rem;
    font-weight: bold;
    padding-left: 25px;
}

.month-numbers {
    color: var(--text-color-dark);
    display: grid;
    padding-top: 30px;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 40% 40% 40% 40% 40%;
    padding-left: 10px;
    place-items: center;
    font-size: 1.5rem;

}

.footer-bar {
    background: var(--header-bar-color);
    display: grid;
    grid-template-columns: 40% 33% 25%; 
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-bottom: 60px; 
}

.link {
    color: var(--btn-color);
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 45px;
}

.today-link {
    justify-self: left;
    padding-left: 20px; 
}

.calendars-link {
    justify-self: center;
}

.inbox-link {
    justify-self: right;
}

.month-link {
    text-decoration: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--header-bar-color);
    overflow: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    background: var(--text-color-dark);
    height: 10px;
    width: 350px;
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 10px; 
    margin-top: 40px;
    margin-bottom: 15px;
    z-index: 99;
}

.search {
    background: var(--search-color-dark-transparent);
    backdrop-filter: blur(15px);
    width: 100%;
    position: absolute;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;
    z-index: 100;
}

.seperation {
    padding-left: 30px;
    width: 75%;

}

.search-icon {
    color: var(--search-color-dark);
    font-size: 30px;
    padding-left: 10px; 
    align-self: center;
}

.cancel-button {
    padding-top: 0;
    text-decoration: underline;
    padding-left: 40px;
}

.mic-icon {
    color: var(--search-color-dark);
    font-size: 35px;
    padding-left: 10px;
    align-self: center;
}

.search-input {
    height: 80%;
    background: transparent;
    border: none;
    width: 100%;
}

input[placeholder] {
    color: var(--search-color-dark);
    font-size: 35px;
}

.search-box {
    background: #666666;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    align-items: center;
}

@keyframes exit-app {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 0);
    }
}

.app-exit {
    animation: exit-app 0.9s ease;
    background-image: url("wallpaper.jpg");
    background-size: cover;
}

@keyframes enter {
    100% {
        transform: translateY(2px);
    }
}

.play-enter {
    animation: enter 0.3s ease;
}

@keyframes leave {
    100% {
        transform: translateY(-120px);
    }
}

.play-leave {
    animation: leave 0.3s ease;
}

