* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif, Helvetica;
}

body {
    --bg-dark: rgba(0, 0, 0, 1);
    --btn-color: rgba(220, 82, 74, 1);
    --header-bar-color: rgba(21, 21, 21, 1);
    --text-color-dark: rgba(255, 255,255, 1);
    --search-color-dark: rgba(153, 153, 153, 1);
    --search-color-dark-transparent: rgba(77, 77, 77, 0.7);
    overflow: hidden;
}

body.light {
    --bg-dark: rgba(255, 255, 255, 1);
    --btn-color: rgba(220, 82, 74, 1);
    --header-bar-color: rgba(240, 240, 240, 1);
    --text-color-dark: rgba(0, 0, 0, 1);
    --search-color-dark: rgba(255, 255, 255, 1);
    --search-color-dark-transparent: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.container {
    background: var(--bg-dark);
}

.animation-container {
    animation: zoom-out 1s ease;
}

@keyframes zoom-out {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.header-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: right;
    justify-content: right;
    background: var(--header-bar-color);
}

.search-button {
    padding-right: 60px;
    padding-bottom: 30px;
}

.add-button {
    padding-right: 10px;
}

.button {
    color: var(--btn-color);
    font-size: 40px;
    background: none;
    border: none;
    padding-top: 50px;
}

.year {
    align: left;
    color: var(--btn-color);
    font-size: 5rem;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.months-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.month {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color-dark);
    padding-bottom: 42px;
    padding-left: 30px;
    padding-top: 30px;
}

.month-numbers {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 7px;
}

.number {
    color: var(--text-color-dark);
    font-size: 0.8rem;
}

.month-container {
    padding-right: 15px;
    padding-bottom: 60px;
}

.footer-bar {
    background: var(--header-bar-color);
    display: grid;
    grid-template-columns: 40% 33% 25%;
    padding-bottom: 60px;
}

.link {
    color: var(--btn-color);
    font-size: 2.5rem;
    padding-top: 40px;
}

.today-link {
    justify-self: left;
    padding-left: 20px; 
}

.calendars-link {
    justify-self: center;
}

.inbox-link {
    justify-self: right;
}

.month-link {
    text-decoration: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--header-bar-color);
}

.navigation {
    background: var(--text-color-dark);
    height: 10px;
    width: 350px;
    border-radius: 10px; 
    margin-top: 15px;
    margin-bottom: 20px;
}

.search {
    background: var(--search-color-dark-transparent);
    backdrop-filter: blur(15px);
    width: 100%;
    position: absolute;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;
}

.seperation {
    padding-left: 30px;
    width: 75%;

}

.search-icon {
    color: var(--search-color-dark);
    font-size: 30px;
    padding-left: 10px; 
    align-self: center;
}

.cancel-button {
    padding-top: 0;
    text-decoration: underline;
    padding-left: 40px;
}

.mic-icon {
    color: var(--search-color-dark);
    font-size: 35px;
    padding-left: 10px;
    align-self: center;
}

.search-input {
    height: 80%;
    background: transparent;
    border: none;
    width: 100%;
}

input[placeholder] {
    color: var(--search-color-dark);
    font-size: 35px;
}

.search-box {
    background-color: #666666;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    align-items: center;
}

@keyframes exit-app {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 0);
    }
}

.app-exit {
    animation: exit-app 0.9s ease;
    background-image: url("wallpaper.jpg");
    background-size: cover;
}

@keyframes enter {
    100% {
        transform: translateY(2px);
    }
}

.play-enter {
    animation: enter 1s ease;
}

@keyframes leave {
    100% {
        transform: translateY(-120px);
    }
}

.play-leave {
    animation: leave 0.3s ease;
}
